p{
    color: aqua;
    background-color: #cccdcf;
    border: darkgoldenrod solid 15px;
    border-radius: 25px;
    
}

#small-paragraph{
    color: blueviolet;
    text-align: center;
    justify-content: center;
    border: chartreuse solid 10px;
    border-radius: 25px;
    height: 50px;

}